.body {
  background-color: #231e39;
}
.App {
  /* text-align: center; */
  min-height: 100vh;

  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */

  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(45, 45, 99, 1) 0%,
    rgba(14, 136, 161, 1) 100%
  );
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */

  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #084151;
}
.App-logo {
  height: 40vw;
  background: transparent;
  pointer-events: none;
  margin-top: 20%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
} */
