/* CSS */
.loginBtn {
  background-color: #e1ecf4;
  border-radius: 5px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.loginBtn:hover,
.loginBtn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.loginBtn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.loginBtn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.login-trigger {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom right, #b05574, #f87e7b);
  padding: 15px 30px;
  border-radius: 30px;
  position: relative;
  top: 50%;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  border-radius: 10px;
}

.overlay {
  background: transparent;
  /* // rgba(164, 162, 162, 0.8); */
}
.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: rgb(167, 199, 231);
  padding: 14px 28px;
  border-radius: 30px;
  max-width: 600px;
  min-width: 300px;
}

.modal-login {
  color: #cec8c8;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
  border-color: #70c5c0;
}
.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}
.modal-login .modal-footer a {
  color: #999;
}
.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
  width: 100%;
}
.modal-login.modal-dialog {
  margin-top: 80px;
}
.modal-login .btn,
.modal-login .btn:active {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1 !important;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-login .btn:hover,
.modal-login .btn:focus {
  background: #45aba6 !important;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
.welcomeHeading {
  top: 40%;
  left: 50%;
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.welcomeTitle {
  font-size: 30px;
  font-weight: 500;
  font-family: serif;
  color: white;
  margin: 4px;
  padding-top: 16%;
}
.welcomeSubtitle {
  margin-right: 8px;
  font-size: 16px;
  color: white;
  float: right;
}
