.createBtn {
  /* background: transparent; */
  margin: 10px 15% 0px 0px;
  padding: 0;
  background-color: aliceblue;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  font-size: 16px;
  /* line-height: 1.15385; */
  padding: 0px 0.8em;
  margin: 2px 0px;
  outline: none;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  float: right;
}

.createBtn:hover,
.createBtn:focus {
  background-color: #5cb9d8;
  color: white;
}

.createBtn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.createBtn:active {
  /* background-color: #a0c7e4; */
  box-shadow: none;
  /* color: #2c5777; */
}
.table {
  width: 80%;
  background: transparent;
  margin-top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  width: 70%;
}
.createLink {
  float: right;
  margin-right: 14%;
  margin-bottom: 2rem;
}
.thTop {
  border-top: none;
}
th:not(:first-child) {
  border-top: none;
}
th {
  background-color: #3482be;
}
tr:nth-child(even) {
  background-color: aliceblue;
}
tr:nth-child(odd) {
  background-color: white;
}
tr:hover {
  background-color: #b2d9e7;
}
.actionBtn {
  background-color: aliceblue;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  width: 80px;
  margin: 10px 5px;
}
.actionBtn:hover {
  background-color: #5cb9d8;
  color: white;
}
.edit {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  color: #2c5777;
}
.edit:hover {
  background-color: #5cb9d8;
  color: white;
}
.canvasTitle {
  margin-bottom: 0;
  line-height: 1.5;
  margin-left: 35%;
  color: black;
}
